<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Employee Registration Page</h1>
	<hr>
	<form action="register" method="post" th:object="${emp}">
	Emp Id: <input type="text" th:field="*{empId}"><br/>
	Name: <input type="text" th:field="*{name}"><br/>
	City: <input type="text" th:field="*{city}"><br/>
	Salary: <input type="text" th:field="*{salary}"><br/>
	<input type="submit" value="Register">
	</form>
</body>
</html>