<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


	<bean id="mymail" class="com.demo.spring.Mail" autowire="byName" lazy-init="true">
		<property name="fromAddress" value="Trainer" />
		<property name="toAddress" value="all in the class" />
		<!-- property name="message" ref="message" /-->
	</bean>

	<bean id="message" class="com.demo.spring.Message" lazy-init="true">
		<constructor-arg value="Lunch Break"/>
		<constructor-arg value="No Lunch Break Today"/>
	</bean>
	
	<bean id="message1" class="com.demo.spring.Message" >
		<property name="header" value="Tea Break" />
		<property name="body" value="At 4:30PM" />
	</bean>
	
	

</beans>
