<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="trainer" class="com.demo.spring.Trainer">

		<property name="name" value="Tiger" />
		<property name="participants">
			<list>
				<ref bean="p1" />
				<ref bean="p2" />
			</list>
		</property>
	</bean>
	<bean id="p1" class="com.demo.spring.Participant">
		<property name="name" value="John" />
		<property name="lunchBox" ref="lb1" />
	</bean>

	<bean id="p2" class="com.demo.spring.Participant">
		<property name="name" value="Srnivas" />
		<property name="lunchBox" ref="lb2" />
	</bean>

	<bean id="lb1" class="com.demo.spring.LunchBox">
		<property name="items">
			<set>
				<ref bean="item1" />
				<ref bean="item2" />
			</set>
		</property>
	</bean>
	<bean id="lb2" class="com.demo.spring.LunchBox">
		<property name="items">
			<set>
				<ref bean="item3" />
				<ref bean="item1" />
			</set>
		</property>
	</bean>

	<bean id="item1" class="com.demo.spring.Item">
		<property name="name" value="Apple" />
		<property name="taste" value="sweet" />
	</bean>
	<bean id="item2" class="com.demo.spring.Item">
		<property name="name" value="Roti" />
		<property name="taste" value="good" />
	</bean>
	<bean id="item3" class="com.demo.spring.Item">
		<property name="name" value="Idli" />
		<property name="taste" value="ok" />
	</bean>


</beans>
